
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
  
      <span class=""> <i class="fa fa-user fa-3x"></i></span>
      <span>{{ title }} Create a new customer!</span>  
    </div>
  </div>
  <div class="form-container">
      <div class="form-style-5">
          <form  [formGroup]='customerForm'  (ngSubmit)="onCreateNewCustomer(customerForm.value)">
              <fieldset>
            <legend><span class="number">1</span>Info Client</legend>
            <div class="form-group"> 
                <select id="civilite" required formControlName="civilite">
                  <option disabled value="">Choisir la civilité*</option>
                  <option value="Homme">Homme</option>
                  <option value="Femme">Femme</option>
                </select>  
              <label *ngIf="formErrors['civilite'] != ''" class="valid-error"> {{ formErrors['civilite'] }}</label>
            </div>    
            <div>
                <input type="text" class="form-control" required placeholder="Nom*" formControlName="nom">
                <label *ngIf="formErrors['nom'] != ''" class="valid-error"> {{ formErrors['nom'] }}</label>
            </div>
            <div>
                <input type="text" class="form-control" required placeholder="Prénom*" formControlName="prenom">
                <label *ngIf="formErrors['prenom'] != ''" class="valid-error"> {{ formErrors['prenom'] }}</label>
            </div>
            <div>
                <input type="email"  class="form-control" formControlName="email" placeholder="Email*" required>
                <label *ngIf="formErrors['email'] != ''" class="valid-error"> {{ formErrors['email'] }}</label>
            </div>
            <div>
                <input type="number"  class="form-control"  formControlName="telephone" placeholder="Numéro téléphone* " >
                <label *ngIf="formErrors['telephone'] != ''" class="valid-error"> {{ formErrors['telephone'] }}</label>
            </div> 
            </fieldset>
          <fieldset>
          <legend><span class="number">2</span>Adresse</legend>
          <div>
              <select
              (change)="onChangePays(this.customerForm.value)" 
              class="form-control" tabindex="-1" aria-hidden="true" 
              required id="pays"
              formControlName="pays">
              <option disabled value="">Choisir le pays*</option>
              <option *ngFor="let p of countries" [value]="p.name">  {{p.name}}</option>
            </select>
            <label *ngIf="formErrors['pays'] != ''" class="valid-error"> {{ formErrors['pays'] }}</label>
          </div>
          <div class="row">
            <div class="col-sm-6">
                <select 
                class="form-control" tabindex="-1" aria-hidden="true"  
                required
                formControlName="ville" >
                <option disabled value="">Choisir la ville</option>
                <option *ngFor="let p of localityByCountry" [value]="p.name">  {{p.name}}</option>
              </select>
              <label *ngIf="formErrors['ville'] != ''" class="valid-error"> {{ formErrors['ville'] }}</label>
            </div>
            <div class="col-sm-6">
              <input type="text"  class="form-control"  formControlName="rue" placeholder="Rue* " >
            </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <input type="number"  class="form-control"  formControlName="numero" placeholder="Numéro* " >
              </div>
              <div class="col-sm-6">
                <input type="number"  class="form-control"  formControlName="code_postal" placeholder="Code postal* " >
              </div>
            </div>
          </fieldset>
          <input type="submit" value="Enregistrer" />
        </form>
      </div>
  </div>
