
  <div class="content" role="main">
  
      <!-- Highlight Card -->
      <div class="card highlight-card card-small">
    
        <span class=""> <i class="fa fa-list fa-3x"></i></span>

        <span>{{ title }} View list of customers!</span>
    
    
      </div>
</div>

<div class="container">
    <table  class="row-border hover"
    datatable
    [dtOptions]="dtOptions"
     >
          <thead>
            <tr>
              <th>Civilité</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Email</th>
              <th>téléphone</th> 
              <th>Pays</th>
              <th>Ville</th>
              <th>Rue</th>
              <th>Numéro</th>
              <th>Code postal</th>
            </tr>
          </thead>
        <tbody class="table">
          <tr *ngFor="let customer of customers">
            <td>
              {{customer.civilite}}
            </td>
            <td>
              {{customer.prenom}}
            </td>
            <td>
              {{customer.nom}}
            </td>
            <td>
              {{customer.email}}
            </td>
            <td>
              {{customer.telephone}}
            </td>
            <td>
              {{customer.pays}}
              </td>
              <td>
                {{customer.ville}}
              </td>
              <td>
                {{customer.rue}}
              </td>
              <td>
                {{customer.numero}}
              </td>
              <td>
                {{customer.code_postal}}
              </td>
          </tr>  
        </tbody>
    </table>
  </div>